* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    align-items: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.img{
    width: 360px;
   }

.links{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


main{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}


li{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
}
      
input{
    width: 300px;
    height: 45px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}

button{
    width: 200px;
    height: 45px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;

}

footer{
    padding-top: 50px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}